@font-face {
    font-family: DancingScript;
    font-weight: normal;
    font-style: normal;
    src: url("assets/dancing-script.woff2") format("woff2");
}

/*
    #8B4513  Brown
    #004000  Tree Green
    #000040  Dark Blue
    #40C0FF  Light Blue
*/
:root {
    background-color: #004000;
}
body {
    background-color: #ffffff;
    min-height:100vh;
}
.max-size {
    max-width:900px;
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding:20px 0px 10px 0px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}
.cursive {
    font-family:DancingScript, cursive;
}



header {
    background-color: #004000;
    color:white;
    text-align: center;
}
header > .row > div {
    margin-bottom:20px;
}
header .description {
    display:flex;
    justify-content:center;
    align-items: center;
}
header .logo-container {
    align-items:center;
}
header .logo {
    border-radius:100%;
    object-fit: contain;
    margin-right:40px;
    width:100px;
}
header .description p {
    align-items:center;
    margin:0;
    font-style: italic;
}
header .quick-link {
    display:flex;
    align-items:center;
    justify-content:center;
}
.phone-number {
    color:white;
    text-decoration: none;
    line-height:1.75em;
}
.book-now {
    color:#60c0ff;
    text-decoration: none;
    margin-right:3px;
}
.book-now:hover {
    color:#40a0e0;
}
.book-now::after {
    position:relative;
    left:0px;
    content: " >";
    transition:.25s left ease-out;
}
.book-now:hover::after {
    left:3px;
}



nav {
    background-color: #8B4513;
    text-align: center;
}
nav .row > div {
    padding:5px;
    min-height:58px;
    display:flex;
    align-items: center;
    justify-content: center;
}
nav a {
    color:white;
    text-decoration: none;
}
nav a:hover {
    color: #dddddd;
}



#hero-container {
    position:relative;
    height:280px;
    overflow:hidden;
}
#hero-container > div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    transition:opacity 2s ease;
    opacity:0;
}
#hero-container > .current {
    opacity:1;
}
.hero-background {
    position:absolute;
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    
    top:-10px;
    bottom:-10px;
    left:-10px;
    right:-10px;

    filter:blur(5px);
    object-fit:cover;
    object-position: 50% 33%;
}
.hero-foreground {
    max-width:700px;
    width:100%;
    height:100%;
    margin: 0 auto 0 auto;
    display:block;

    object-fit:cover;
    object-position: 50% 33%;

    position:relative; /* note: needed for z positioning */
}



#awards > div {
    display:flex;
    justify-content: center;
}
#awards img {
    overflow:clip; /* note: needed for safari to properly set width */
    width:100%;
    max-width: 125px;
    object-fit: contain;
    border-radius:5px;
    margin:5px;
}



.testimonial-name {
    display:block;
    font-style:italic;
    font-weight:bold;
}
.testimonial-name::before {
    content: "- ";
}



body {
    position:relative;
    padding-bottom:200px;
}
footer {
    background-color: #8B4513;
    color:white;
    text-align: center;

    height:200px;

    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
footer a {
    color:white;
    line-height:1.75em;
}
.social-links {
    display:flex;
    justify-content: center;
}
.social-links > * {
    text-decoration: none;
    padding-left:5px;
    padding-right:5px;
}
.social-links img {
    width:40px;
    height:40px;
    border-radius:5px;
    border:1px #000000 solid;
}