@font-face {
    font-family: DancingScript;
    font-weight: normal;
    font-style: normal;
    src: url("assets/dancing-script.woff2") format("woff2");
}

h1 {
    font-family:DancingScript, cursive;
    padding:10px;
}
/*
    #8B4513  Brown
    #004000  Tree Green
    #000040  Dark Blue
    #40C0FF  Light Blue
*/
.max-size {
    max-width:700px;
    padding-left:10px;
    padding-right:10px;
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    border-radius:100%;
    object-fit: contain;
    width:100px;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
}

header {
    background-color: #004000;
    color:white;
}
header .description {
    height:100px;
    position:relative;
}
header > .row > div {
    margin-bottom:20px;
}
header .description > p {
    display:flex;
    position:absolute;
    left:110px;
    right:0;
    top:0;
    bottom:0;

    margin:0;

    align-items:center;
    justify-content: center;

    font-style: italic;
}
header .quick-link {
    align-items:center;
    justify-content:center;
    display:flex;
}
#book-now-header {
    color:#60c0ff;
    text-decoration: none;
}
#book-now-header:hover {
    color:#40a0e0;
}
#book-now-header::after {
    position:relative;
    left:0px;
    content: " >";
    transition:.25s left ease-out;
}
#book-now-header:hover::after {
    left:5px;
}