:root {
    background-color: #202020;
    color: white;
    font-size: 1em;
}

.logo {
    display:block;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

button {
    display: block;

    padding: 10px;
    margin: 10px auto;
    width: 300px;
    border-radius: 5px;

    background-color: #008cff;
    border: 1px solid black;
    text-shadow: 0px 0px 10px #000000;
    color: white;
    font-size: 1em;
}
button:active {
    background-color: #40acff;
}

#site-link {
    display: inline;

    padding: 0;
    margin: 0;
    width: auto;
    border-radius: 0;

    background-color: #00000000;
    border: none;
    text-shadow: none;
    color: #008cff;
    font-size: 1em;
}

#hosting-page {
    text-align:center;
}
